<ul>
  <% @tasks.each do |task| %>
  <li><%= task.name %>
    <%= link_to "Task page", task_path(task)%>
    <%= link_to "Edit", edit_task_path(task)%>
    <%= link_to "Delete", task_path(task),
    method: :delete,
    data: { confirm: "Are you sure?" } %>
  </li>
  <% end %>
</ul>
<%= link_to 'Add new task', new_task_path %>
